
  .whole {
    border: 2px solid black;
    height: 560px;
    width: 80%;
    display: inline-block;
    margin: auto;
    position: absolute;
    left: 0; right: 0;
  }
  .title {
    font-family: Arial;
    font-size: 40px;
    margin-left: 5%;
  }
  .lado1 {
    height: 35px;
    width: 60%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 30px;
  }
  .lado2 {
    height: 35px;
    width: 60%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 30px;
  }
  .lado3 {
    height: 35px;
    width: 60%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 30px;
  }
  .button {
    height: 7%;
    width: 13%;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 18px;
  }
   p {
    margin-top: 4%;
    margin-left: 5%;
    font-size: 30px;
  }
  .response-text {
    font-size: 30px;
    display: inline-block;
    }
  